body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.appContainer {
  background-color: #fff;
  width: 80vw;
  height: 70vh;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.metadata {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: none;
}

.imageContainer:hover .metadata {
  display: block;
}
